extends layout

block content
  h1= title
  p Welcome to (my balls) #{title}
  button type="button" onclick="document.getElementById('demo').innerHTML = Date()"> Click me to display Date and Time.
  p id="demo"
